@font-face {
    font-family: 'Summer Century';
    src: url('/fonts/SummerCenturyRegular.woff2') format('woff2'),
        url('/fonts/SummerCenturyRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Funny Hello';
    src: url('/fonts/FunnyHelloRegular.woff2') format('woff2'),
        url('/fonts/FunnyHelloRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

