@use "./styles/fonts.scss";
@use "./styles/reset.scss";
@use "./styles/variables.scss" as vars;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Funny Hello", Inter
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Experience

#experience {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  
  #experience-canvas{
    height: 100%;
    width: 100%;
  }
}

//Modals

body.day .modal {
  position: relative;
  top: 50%;
  left: 50%;
  align-content: center;
  max-width: 700px;
  width: 100%;
  transform: translate(-50%, 50%);
  font-family: "Funny Hello";
  font-size: 32px;
  z-index: 9999;
  background-color: vars.$base-beige;
  border: 3px solid rgb(216, 112, 112);   
  border-radius: 20px;
  display: none;
}
body.night .modal {
  position: relative;
  top: 50%;
  left: 50%;
  align-content: center;
  max-width: 700px;
  width: 100%;
  transform: translate(-50%, 50%);
  font-family: "Funny Hello";
  font-size: 32px;
  z-index: 9999;
  background-color: #2e2a35; ;
  border: 3px solid rgb(21, 18, 25);   
  border-radius: 20px;
  display: none;
}
body.day .modal h1 {
  color : rgb(200, 131, 131);
  text-align: center;
} 
body.night .modal h1 {
  color : rgb(207, 204, 246);
  text-align: center;
} 
body.day .modal p {
  width: fit-content;
  margin: 15px;
  text-align:left;
  font-family: "Summer Century";
  font-size: 23px;
  color : black;
}
body.night .modal p {
  width: fit-content;
  margin: 15px;
  text-align:left;
  font-family: "Summer Century";
  font-size: 23px;
  color : rgb(230, 230, 230);
}
body.day .modal-exit-button { 
  position: absolute;
  top: -16px;
  right: -5px;
  border: 2px solid rgb(216, 112, 112);
  font-size: 24px;
  background-color: #ffafaf;
  color: rgb(216, 112, 112);    
  cursor: pointer;
  padding: 8px 12px;
  border-radius: 8px;
  transition: background-color 0.3s ease;
  align-self: end;
}

body.night .modal-exit-button { 
  position: absolute;
  top: -16px;
  right: -5px;
  border: 2px solid rgb(31, 26, 49);
  font-size: 24px;
  background-color: #4c3f5f;
  color: rgb(25, 22, 49);    
  cursor: pointer;
  padding: 8px 12px;
  border-radius: 8px;
  transition: background-color 0.3s ease;
  align-self: end;
}

body.day .modal-exit-button:hover {
  background-color: #db8585;;
  color: rgb(181, 88, 88); 
}
body.night .modal-exit-button:hover {
  background-color: #302d5f;;
  color: rgb(42, 23, 72); 
}